<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation">
                <% if(typeof loggedIn != "undefined"){ %>
                    <a href="/start"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                <% } else{ %>
                    <a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></a>
                <% } %>
            </li>
            <li role="presentation"><a href="/about"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></a>
            </li>
            <li role="presentation">
                <% if(typeof loggedIn != "undefined"){ %>
                    <a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></a>
                <% } else{ %>
                    <a href="/login"><span class="glyphicon glyphicon-globe" aria-hidden="true"></a>
                <% } %>
            </li>
        </ul>
    </nav>
    <img src="/images/logo.jpg" />
</div>
