<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a>
            </li>
            <li role="presentation"><a href="/about">About</a>
            </li>
            <li role="presentation">
                <% if(typeof loggedIn != "undefined"){ %>
                    <a href="/logout">Logout</a>
                <% } else{ %>
                    <a href="/login">Login</a>
                <% } %>
            </li>
        </ul>
    </nav>
    <img src="/images/logo.jpg" />
</div>
