<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>MediaQ Query tool</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="http://openlayers.org/en/v3.1.1/css/ol.css" type="text/css">
    <style>
    .map {
        height: 400px;
        width: 400px;
    }
    </style>
    <script src="http://openlayers.org/en/v3.1.1/build/ol.js" type="text/javascript"></script>
</head>

<body>
    <form>
        <div class="logo"><img src="/images/logo.jpg" />
        </div>

        <div id="map" class="map"></div>
        <div id="mouse-position">Location:</div>
        <form action="input_text.htm">
            <p>
                Longitude:
                <input id="lon" type="text" size="30" maxlength="30"> Latitude:
                <input id="lat" type="text" size="30" maxlength="40">
            </p>
        </form>
        <div >Rätsel
            <textarea id='riddleText' ></textarea>
        </div>
        <div>Hint1
            <textarea id='hint1' ></textarea>
        </div>
        <div>Hint2
            <textarea id='hint2' ></textarea>
        </div>


        <input id="submitButton" type="submit" value="Submit"></input>
    </form>
    </br>
    </br>
    </br>
    <div>Stelle sicher, dass man die Informationen mit einer Websuche finden kann.</br>
    Stelle sicher, dass das Rätsel nicht zu komplex oder zu einfach ist. Wenn niemand das Rätsel lösen kann, wird der Task nicht erfüllt.</br> Wenn möglich, versuche das Rätsel so zu stellen, dass man etwas dabei lernt. </br></br></br>
    Beispielrätsel: Ich wusste noch gar nicht, dass man im alten China so gutes Bier trinken konnte... </br>
    Hint#1: Die grüne Lunge Münchens ist eine Oase der Ruhe für viele Münchner.</br>
    Hint#2: Bier erhält man hier nur an neun Monaten im Jahr. Dafür an einem weiteren Glühwein.</br>
    Lösung: Biergarten Chinesischer Turm im Englischen Garten
    </div>
</body>
<script src="/javascripts/map.js" type="text/javascript"></script>
<script src="/javascripts/jquery-2.1.3.min.js" type="text/javascript"></script>

</html>
