<!DOCTYPE html>
<html lang="en">

<head>
    <% include includes/head.html %>
</head>

<body>

    <div class="container">
        <% include includes/header.html%>
            <div class="jumbotron">
                <h3 class="lead">Herzlich Willkommen bei GeoHunt!</h3>
                <p>
                    <a class="btn btn-lg btn-success" href="/register" role="button">Sign up <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    <a class="btn btn-lg btn-success" href="/login" role="button">Sign in <span class="glyphicon glyphicon-share" aria-hidden="true"></a>
                </p>
            </div>
            <% include includes/foot.html %>


    </div>
    <!-- /container -->

</body>

</html>
