<!DOCTYPE html>
<html lang="en">

<head>
    <% include includes/head.html %>
</head>

<body>

    <div class="container">
        <% include includes/header.html%>
            <div class="jumbotron">
                <p class="lead">Herzlich Willkommen bei GeoHunt!</p>
                <p>
                    <a class="btn btn-lg btn-success" href="/register" role="button">Sign up</a>
                    <a class="btn btn-lg btn-success" href="/login" role="button">Sign in</a>
                </p>
            </div>
            <% include includes/foot.html %>


    </div>
    <!-- /container -->

</body>

</html>
