<!DOCTYPE html>
<html lang="en">
  <head>
    <% include includes/head.html %>
  </head>

  <body>

    <div class="container">
      <% include includes/header.html%>

      <div class="jumbotron">
        <form id="form1" method="post" action="/user/register" enctype="application/x-www-form-urlencoded">
                <div class="input">Username:
                    <input id="user" type="text" name="username" />
                </div>
                <div class="input">Passwort:
                    <input id="passwort" type="password" name="password" />
                </div>
                <input type="submit" text="login" />
            </form>
      </div>


      <% include includes/foot.html %>

    </div> <!-- /container -->

  </body>
</html>


