<!DOCTYPE html>
<html lang="en">

<head>
    <% include includes/head.html %>
</head>

<body>

    <div class="container">
        <% include includes/header.html%>

            <div class="jumbotron">
                <h2>Herzlich Willkommen bei GeoHunt!</p> 
        <br/>
        <p>
          <a class="btn btn-lg btn-success" href="/create-task" role="button">Task <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></a>
          <a class="btn btn-lg btn-success" id="gameButton" href="javascript:void(0)" role="button">Schnitzeljagd <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></a>
          <a class="btn btn-lg btn-success" id="userStatistics" href="/statistics" role="button">Statistik <span class="glyphicon glyphicon-stats" aria-hidden="true"></a>
        </p>
      </div>

      <% include includes/foot.html %>

    </div> <!-- /container -->
    
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript" ></script>
    <script src="/javascripts/newGame.js" type="text/javascript"></script>

  </body>
</html>



