<!DOCTYPE html>
<html lang="en">
  <head>
    <% include includes/head.html %>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="/desktop">Login</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">GeoHunt</h3>
      </div>

      <div class="jumbotron">
      	<img src="/images/logo.jpg"/>
        <p class="lead">Herzlich Willkommen bei GeoHunt!</p>
        <p><a class="btn btn-lg btn-success" href="/create-task" role="button">Task erstellen</a></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Schnitzeljagd starten</a></p>
      </div>

      <% include includes/foot.html %>

    </div> <!-- /container -->

  </body>
</html>


