<!DOCTYPE html>
<html lang="en">
  <head>
    <% include includes/head.html %>
  </head>

  <body>

    <div class="container">
      <% include includes/header.html%>

      <div class="jumbotron">
      	<img src="/images/logo.jpg"/>
        <p class="lead">Herzlich Willkommen bei GeoHunt!</p>
        <p><a class="btn btn-lg btn-success" href="/create-task" role="button">Task erstellen</a></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Schnitzeljagd starten</a></p>
      </div>

      <% include includes/foot.html %>

    </div> <!-- /container -->

  </body>
</html>


