<!DOCTYPE html>
<html lang="en">

<head>
    <% include includes/head.html %>
</head>

<body>

    <div class="container">
            <% include includes/header.html%>
        <div class="jumbotron">
        <h3>Willkomen zur Schnitzeljagd</h3>
        <p><a class="btn btn-lg btn-success" href="/mobile/group" role="button">Gruppenspiel</a></p>
        <p><a class="btn btn-lg btn-success" href="/mobile/game" role="button">Alleine spielen</a></p>
        </div>
        <% include includes/foot.html %>


    </div>
    <!-- /container -->

</body>

</html>
