body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.input{
	width: 245px;
	height:50px;
}

.riddle{
	width: 80%;
	height: 131px;
}

#user, #passwort, #riddleText, #hint1, #hint2, #submitButton, #password{
	float:right;
	margin-bottom: 5px;
}

#lon, #lat{
	width:210px;
}

#riddleText, #hint1, #hint2{
	width: 99%;
}

.submit{
	width: 80%;
}

.footer{
	padding-top: 10px;
}

.jumbotron img{
	display: block;
	margin-left: -50px;
	margin-right: auto;
}

.longlat{
	width: 280px;
}

.longlat span{
	width: 300px;
}

.header img{
	margin-bottom: 10px;
}

nav{
	vertical-align: bottom;
}

#pirate{
	margin-left: -100px;
	float: left;
}

#puzzle{
	margin-top: 50px;
	min-height: 250px;
}

@media (max-device-width: 480px) {
	body{
		padding: 0;
	}
	
	.header img{
		width: 26%;
	}

	.header{
		padding-left: 0;
		padding-right: 0;
		height:50px;
	}

	#puzzle{
		min-height: auto;
	}

	.jumbotron .btn {
		padding: 5px 9px;
		font-size: 18px;
	}

	#pirateColumn{
		float: left;
		width: 45%;
		height: auto;
	}

	#puzzleDesc{
		height: auto;
		width: 50%;
		float: right;
		margin-right: 10px;
	}

	.footer img{
		width: 80px;
	}

	.jombotron img{
		width:100%;
	}

	.nav li a {
		padding: 9px 5px;
	}

	#lon, #lat{

		width:68%;
	}

	.riddle{
		margin-top:20px;
	}
}